
header-line{
    margin-bottom: 22px;
}
header-line:after {
    content: "";
    display: block;
    clear: both;
}
header-line:last-child{
    margin-bottom: 0;
}
.logo {
    float: left;
}
.logo a {
    display: inline-block;
}