body {
   background-color: #2e3944;
}
.container {
    margin: 0 auto;
    max-width: 1230px;
    background-color: #2e3944;
    margin-top: 45px;


}
.top-line{
    height: 170px;
    background-color: #7e7e7e;

}

