<div class="wrap_right_sidebar">
    <div class="wrap_news">
        <h2 class="title_right_sidebar">Bla Bla</h2>
        <hr>
        <div class="news_square">
            <p class="news_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet autem, consequatur illo neque nisi numquam officiis possimus quos tempora! Atque aut doloribus et magnam neque nulla placeat quaerat, totam.
            </p>

        </div>
    </div>
    <div class="social_networks">
        <h3>Connect with us</h3>
        <img src="../img/IT.png">

    </div>
</div>

