
    <div class="articles_content_left_sidebar">
        <div class="article__top">
            <h2 class="article_title">Some text</h2>
            <div class= "article_img">
                <img src="../img/img.png">
            </div>
                <p class="article__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, cupiditate deleniti dignissimos distinctio eum harum, libero modi mollitia natus obcaecati odio officia quam quia quis repellat sequi, temporibus velit?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad et fuga laboriosam nisi praesentium provident quas qui quia totam vero? Architecto consectetur fuga itaque libero odio rerum tempora ullam. Nihil.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum dignissimos distinctio dolorum ipsum nobis officiis quo vel vero voluptatibus. Ab aliquid ea eos, iure laborum laudantium nam nobis unde!
                </p>
            <button class="btn-main_content">Push me</button>
            <hr>
        </div>
    </div>
    <div class="dinamic_right_sidebar">
        <!--#insert file="-dinamic_right_sidebar.html"-->
    </div>
